* {
  margin: 0;
  padding: 0;
}
/* Start Bio Container */
.Body-bio-container {
  background-image: url("../images/whitebackdrop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.Body-title {
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  color: black;
  font-family: 'Shrikhand', cursive;
}
.Body-title-1 {
  margin-bottom: -20px;
  font-size: 2.2em;
}
.Body-title-2 {
  margin-left: 70px;
  font-size: 1.1em;
}
.Body-bio {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 15px;
}
.Body-img-container {
  display: flex;
  justify-content: center;
}
img#body-img {
  width: 350px;
  height: 350px;
}

/* Start Info Container */
.Body-info-container {
  width: 100%;
  background-image: url("../images/graybackdrop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
img.info-image {
  width: 150px;
  height: 150px;
}

  {/* Start Hours Container */}
  #Body-hours-container {
    border: 1px red solid;
    flex-basis: 250px;
    flex-grow: 1;
  }
  {/* Start Carrier Container */}
  #Body-carrier-container {
    border: 1px blue solid;
    flex-basis: 250px;
    flex-grow: 1;
  }
  {/* Start Location Container */}
  #Body-location-container {
    border: 1px green solid;
    flex-basis: 250px;
    flex-grow: 1;
  }

/* Start Tracking Container */
.Body-tracking-container {
  border: 1px orange solid;
  flex-basis: 250px;
  flex-grow: 1;
}

/* Start Associates Container */
.Body-associates-container {
  border: 1px purple solid;
  flex-basis: 250px;
  flex-grow: 1;
}
