/* at 1000px add in hamburger menu */
* {
  margin: 0;
  padding: 0;
}
.Header-container {
  width: 100%;
  font-family: 'Merriweather', serif;
}
#Header-background-1 {
  min-height: 700px;
  max-height: 700px;
  background-image: url("../images/Header/storefront.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#Header-background-2 {
  min-height: 700px;
  max-height: 700px;
  background-image: url("../images/Header/storeinterior.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#Header-background-3 {
  min-height: 700px;
  max-height: 700px;
  background-image: url("../images/Header/storesupplies.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.Header-imageText-container {
  font-size: 3.2em;
  color: white;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  text-align: center;
  text-shadow: 3px 3px #000000;
}
.Header-background-text {
  margin-top: 320px;
}
.Header-arrow-container {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  text-align: center;
  color: white;
  margin-top: 40px;
  font-size: 5em;
  z-index: 5;
}
.Header-arrow {
  animation: 1s ease-out 0s infinite bounce;
  text-shadow: 3px 3px #000000;
  color: #428bca;
  font-size: 2em;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
