/* at 1000px add in hamburger menu */
* {
  margin: 0;
  padding: 0;
}
.Header-container {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
#Header-background-1 {
  min-height: 700px;
  max-height: 700px;
  background-image: url("../images/storefront.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#Header-background-2 {
  min-height: 700px;
  max-height: 700px;
  background-image: url("../images/storeinterior.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#Header-background-3 {
  min-height: 700px;
  max-height: 700px;
  background-image: url("../images/storesupplies.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.Header-imageText-container {
  margin-top: 250px;
  font-size: 3.2em;
  color: white;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  text-align: center;
  text-shadow: 3px 3px #000000;
}
.Header-background-text {
}
