/* Color Palette provided in App.css */

/* Begin 500px or more media query */
  .Nav-full-container {
    width: 100%;
    height: 65px;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .Nav-full-backdrop { /* Applies black backdrop */
    width: 100%;
    height: 65px;
    background-color: black;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
  }
    /* Logo (Left Flexbox) */
      .Nav-full-logo-container {
        margin-right: 50px;
        float: left;
        font-family: 'Shrikhand', cursive;
      }
      .Nav-full-logo-link {
        color: white;
        text-decoration: none;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
      }
      .Nav-full-logo-link:hover {
        color: #428bca;
      }
      .Nav-full-logo-1 {
        margin-bottom: -15px;
        font-size: 2em;
      }
      .Nav-full-logo-2 {
        margin-left: 120px;
        font-size: 1em;
      }
    /* Menu (Right Flexbox) */
    .Nav-full-menu {
      display: flex;
      justify-content: space-around;
      vertical-align: middle;
      flex-wrap: wrap;
    }
    .Nav-full-link {
      margin-left: 10px;
      margin-top: 35px;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 1.2em;
      text-shadow: 1.5px 1.5px #000000;
    }
    .Nav-full-button:hover {
      color: #428bca;
    }
    .Nav-full-link-div {
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
    }
    .Nav-full-link-div:hover {
      -webkit-animation: swing 1s ease;
      animation: swing 1s ease;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }


/* Begin 499px or less media query */
  .Nav-dropdown {
    width: 100%;
    height: 65px;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .Nav-dropdown-backdrop { /* Applies black backdrop */
    width: 100%;
    height: 65px;
    background-color: black;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
  }
  .Nav-dropdown-container {
    min-width: 400px;
    vertical-align: middle;
    display: flex;
  }
  /* Logo (Left Flexbox) */
    .Nav-dropdown-logo {
      margin-right: 50px;
      text-shadow: 1.5px 1.5px #000000;
      font-family: 'Shrikhand', cursive;
    }
    .Nav-dropdown-logo-link {
      color: white;
      text-decoration: none;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
    }
    .Nav-dropdown-logo-link:hover {
      color: #428bca;
    }
    .Nav-dropdown-logo-1 {
      margin-bottom: -15px;
      font-size: 2em;
    }
    .Nav-dropdown-logo-2 {
      margin-left: 120px;
      font-size: 1em;
    }
  /* Dropdown (Right Flexbox) */
    .Nav-dropdown-menu-container {
      margin-right: 50px;
    }
    .Nav-dropdown-display .Nav-dropdown-button {
      padding-right: 50px;
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding-top: 15px;
      background-color: inherit;
      font-family: inherit; /* Important for vertical align on mobile phones */
      margin: 0; /* Important for vertical align on mobile phones */
    }
    .Nav-menu-bar {
      width: 25px;
      height: 4px;
      background-color: white;
      margin: 5px;
    }
    .Nav-dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      left: auto;
      background-color: var(--AntiFlashWhite);
      min-width: 100px;
      max-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .Nav-dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    .Nav-dropdown-content a:hover {
      background-color: var(--Backdrops);
    }
    .Nav-dropdown-display:hover .Nav-dropdown-content {
      display: block;
    }

/* All Animations */
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
