* {
  margin: 0;
  padding: 0;
}
/* Color Palette provided to all other .css */
:root {
  --Gunmetal: #2B2D42;
  --GrayBlue: #8D99AE;
  --AntiFlashWhite: #EDF2F4;
  --Khaki: #CCAD8F;
  --Lust: #E2161A;
  --Footer: #383838;
  --Highlightes: #428bca;
  --Backdrops: #7bb1e0;

}
.App-container {
}
.App-body {
  margin-top: -30px;
}
